@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  padding: 0px;
  margin: 0px;
  min-height: 100%vh;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  position: relative;
}
main section img {
  padding-bottom: 10px;
}
.learnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  grid-area: textAndBtn;
}
.text {
  padding-bottom: 27px;
}

h1 {
  font-size: 35px;
}
span {
  color: gray;
  font-size: 1 rem;
  font-weight: 500;
  line-height: 1.5;
}
#learnBtn {
  background-color: black;
  border: none;
  width: 133px;
  height: 45px;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: medium;
  font-weight: 600;
}
.footer {
  display: flex;
  padding: 60px 20px;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
#sidebar-menu {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 250px;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translate(
    100%
  ); /* Move 100% da própria largura para fora da tela */
  transition: transform 0.3s ease-in-out;
}
#sidebar-menu.open {
  transform: translateX(
    0
  ); /* Move de volta para a posição original (dentro da tela) */
}
.flex-btn {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px 15px;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.paddingLi {
  padding: 0px 0;
}
.careers {
  padding-top: 0px;
}

.login-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
}
.dropdown-btn {
  color: gray;
  font-size: medium;
  font-family: "Epilogue", sans-serif;
  padding: 0;
}
.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
#Planning {
  padding-bottom: 20px;
}
#Blog {
  padding-bottom: 20px;
}
.dropdown.on {
  max-height: 300px;
  overflow: visible;
}
.itemsFeatures a {
  display: flex;
  align-items: center;
  text-align: center;
}
.itemsCompany {
  padding-left: 30px;
}
li ul {
  padding-top: 15px;
  padding-bottom: 5px;
}
li a img {
  padding-right: 10px;
  text-align: center;
}
#register {
  border: 2px solid gray;
  width: 185px;
  height: 40px;
  border-radius: 14px;
  text-align: center;
  padding-top: 10px;
}
#register:hover {
  background-color: gray;
  color: white;
}
#login {
  padding-top: 12px;
  text-align: center;
  height: 40px;
}
#login.active {
  background-color: gray;
  color: white;
}
#login:hover {
  border: 2px solid gray;
  width: 185px;
  height: 40px;
  border-radius: 14px;
  text-align: center;
  padding-top: 10px;
}
li img {
  padding-left: 10px;
  padding-bottom: 1.5px;
}

li {
  list-style-type: none;
  color: gray;
  padding: 10px 0;
}
a {
  color: gray;
  text-decoration: none;
}
div.menu button {
  border: none;
  background-color: white;
}
nav#sidebar-menu button {
  border: none;
  background-color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9; /* menor que o menu */
}

/* Quando ativo */
.overlay.open {
  opacity: 1;
  pointer-events: all;
}
.main-container {
  display: grid;
  grid-template-areas:
    "menu"
    "ilustracao"
    "textAndBtn"
    "rodape";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
}
.main-menu {
  grid-area: menu;
}
.main-imagem {
  grid-area: ilustracao;
}
.rodape {
  grid-area: rodape;
}
